@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');

html {
}

body {
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555A64;
    background-color: #EBEBEB;
}

.App {
    margin-top: 1.5em;
    display: flex;
    flex-flow: column;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}