@import url('https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555A64;
    background-color: #F7F8FA !important;
}

.App {
    margin-top: 1.5em;
    display: flex;
    flex-flow: column;
}

.top-0 {
    margin-top: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.item-nav:hover {
    background-color: #F9F9F9 !important;
    border-bottom: 2px solid #1b1c1d !important;
}

.fullScreen {
    height: 120%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    top: 0;
    left: 0;
}

.bgLanding {
    background: url('./images/pizza.gif') center center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .start {
        font-size: 8vw !important;
    }
    .hidden {
        display: none;
        text-align: center !important;
    }
    .top-0 {
        margin-top: 0;
    }
    .commerce-name {
        font-size: 5vw !important;
        max-width: 90%;
    }
    .top-head {
        padding: 0 !important;
    }
    .top-title {
        font-size: 4.9vw !important;
        max-width: 85%;
        line-height: 1.7em !important;
    }
    .close-show {
        cursor: pointer;
        font-size: 1.2em !important;
    }
    .nav-menu {
        margin-bottom: 0 !important;
    }
    .pad-top {
        padding-top: .5em;
    }
}

.bgLogin {
    background: url('./images/giphy1.gif') center center no-repeat;
    background-size: cover;
}

.bgSignup {
    background: url('./images/giphy2.gif') center center no-repeat;
    background-size: cover;
}

.trans {
    background-color: rgba(255, 255, 255, .85) !important;
    top: 10vh;
}

.window {
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.window::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.cardex {
    min-width: 312px !important;
    border: none !important;
    position: relative;
}

.card-image {
    max-width: 312px;
    max-height: 150px;
    object-fit: cover;
}

.recent-image {
    max-width: auto;
    max-height: 200px;
    object-fit: cover;
}

.type-type {
    font-size: .7em !important;
    text-transform: uppercase;
    color: #17BEBB !important;
}

.fav {
    position: absolute;
    top: 9.35em;
    right: 1.15em;
    margin: 0 !important;
    background-color: #FFF !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    max-width: 2.5em !important;
    max-height: 2.5em !important;
    text-align: center;
}

.fav-ico {
    position: relative;
    left: -0.1em;
    bottom: 0;
}

.recent-fav {
    position: absolute;
    top: 12.85em;
    right: 1.5em;
    margin: 0 !important;
    background-color: #FFF !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75) !important;
    max-width: 2.5em !important;
    max-height: 2.5em !important;
    text-align: center;
}

.commerce-name {
    padding-left: 1rem;
    margin: 0 !important;
}

.link {
    cursor: pointer;
    color: #232A38 !important;
    text-decoration: none;
}

.close-show {
    cursor: pointer;
}

.commerce-head {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.top-head {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.top-title {
    margin: 0 !important;
}

.top-filter {
    margin: 0 !important;
}